# ======================
# ENV (cực kỳ quan trọng)
# ======================
.env
.env.*
**/.env

# ======================
# NODE (React / FE)
# ======================
node_modules/
**/node_modules/
dist/
build/
.next/
out/

# ======================
# LOG
# ======================
*.log
logs/

# ======================
# OS / IDE
# ======================
.DS_Store
Thumbs.db
.vscode/
.idea/

# ======================
# JAVA / SPRING BOOT
# ======================
target/
*.class
*.jar
*.war
*.ear

# ======================
# DATABASE FILE (nếu có)
# ======================
*.db
*.sqlite

# ======================
# TEMP FILE
# ======================
tmp/
temp/